<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
    <title>addsong</title>
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    <div id="forms" class="form">
        <div id="addsong" class="form">
            <form action="/addsong" method="post">
                <h1>ADD SONG</h1>
               
                <label for="name">Name: </label>
                <input type="text" id="name" name="name"><br><br>

                <label for="artist">Artist: </label>
                <input type="text" id="artist" name="artist"><br><br>

                <label for="genre">Genre: </label>
                <input type="text" id="genre" name="genre"><br><br>

                <label for="link">Link: </label>
                <input type="text" id="link" name="link"><br><br>
                
                <input type="submit" value="Add Song">
            </form>
        </div>
    </div>
</body>
</html>
