<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Your Playlists</title>
    <link rel="stylesheet" href="style.css">
    
    <style type="text/css">
    .form{
    border: 2px;
    border-style: solid;
    }
    
    
    </style>
</head>

<body>
    <h1>Playlists!</h1>
    <div  class= "form">
        <div th:each="playlist : ${playlists}" class="playlist">
            <h2 th:text="${playlist.name}"></h2>
            <div class="songs">
                <ul>
                    <li th:each="song : ${playlist.songs}" class="song-list">
                        <span th:text="${song.name}"></span>
                        <audio controls>
                            <source th:src="${song.link}" type="audio/mpeg">
                        </audio>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>
